<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712320809242-mc5v5ib5e8up4s3qafpfd6sqk2viiaf4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712320809242-mc5v5ib5e8up4s3qafpfd6sqk2viiaf4</string>
	<key>API_KEY</key>
	<string>AIzaSyBszmMOZqfNFRxv9Al0RA_TySFeNm-aSF4</string>
	<key>GCM_SENDER_ID</key>
	<string>712320809242</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.doorstep</string>
	<key>PROJECT_ID</key>
	<string>door-step-54505</string>
	<key>STORAGE_BUCKET</key>
	<string>door-step-54505.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712320809242:ios:82238eabb30d6a7ef594a3</string>
</dict>
</plist>